body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #fff;
   
}

a {
    color: #fff;
    text-decoration: none;
}

#container {
    background: url(../app/img/bg-fon.jpg) no-repeat top center;
    background-color: rgb(0, 0, 0);
    min-height: 1170px;
}

.wrapper {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 15px;
}

#header .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}

#header {
    width: 100%;
    background: #222;
    color: red;
    height: 40px;
    font-weight: 700;
    margin-bottom: 80px;
    padding-top: 15px;
}

#content .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}